<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	
		<li><strong><a href="/"> <b>Home</b> </a></strong></li>
			
		<li><strong><a href="/appliances"> <b>Appliances</b> </a></strong></li>
		
		
		<li><strong><a href="/street/balances"> <b>Street Balances</b> </a></strong></li>	
		
		
	

	<div class="container">
		<h1>Electricity Topup Tricks</h1>
		{{{body}}}
	</div>

</body>

</html>