
<table>
    <tr>
        <th>Street Name</th>
        <th>Street Balance</th>
    </tr>
    {{#each streetBalances}}
    <tr>
        <td>{{name}}</td>
        <td>{{sum}}</td>
    </tr>
    {{/each}}
</table>