<h1>This is the meters</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Street Number</th>

    </tr>
    {{#each meters}}
    <tr>
        

       <td><a href="/meters/use/{{id}}"> {{name}}</a></td>
        <td>{{balance}}</td></td>
        <td> {{street_number}}</td>


    </tr>
            {{/each}}
</table>
