<h3>The Usage Of Electricity Appliances</h3>

{{#each appliance}}
<li>{{name}}</li>
{{/each}}

<h1>Balance: {{meters_id.balance}}</h1>

<form action="/meters/use/{{meters_id.street_number}}" method="post">



</form>